#––– Editor / OS noise (optional but handy) –––#
.vscode/              # VS Code settings
.DS_Store             # macOS Finder metadata
.envvenv/
__pycache__/
.env
.database/stocks.db
database/stocks.db
*.db
*.sqlite
*.sqlite3
system_databse/system.db